.container {
    background-color: #C4ADAD;
    width: 500px;
    height: 400px;
    border-radius: 20px; 
    padding: 20px; 
    margin-top: 60px;
    margin-left: 40px;
}

.text{
    width: 60%; 
    padding: 15px;
    font-size: 16px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
    margin-left: 75px;
}

.save{
    width: 20px; 
    height: 20px; 
    margin-top: 10px;
    margin-right: 10px;
    background-color: #D9D9D9;
}
